site_name: !ENV [SITE_NAME, 'mammoth-3D']
site_url: !ENV [SITE_URL, 'https://docs.mammoth-3d.ch']
site_description: !ENV [SITE_DESCRIPTION, 'mammoth-3D Documentation']
repo_url: https://github.com/mammoth-3D/docs


nav:
  - Home: index.md

  - "behemoth AWD Gantry":
    - Evolution: behemoth/evolution.md

  - "mammoth-3D AWD Gantry":
    - Merging Two Worlds: mammoth_gantry/merging_two_worlds.md
    - Guidelines:
       - Motor Setup: mammoth_gantry/motor_setup/motor_setup.md
       - Water Cooling: mammoth_gantry/water_cooling/water_cooling.md
       - Idler Setup: mammoth_gantry/idler_setup/idler_setup.md
       - Belt Path: mammoth_gantry/belt_path/belt_path.md
       - Belt Tension: mammoth_gantry/belt_tension/belt_tension.md
    

 # - "mammoth 3D Printer":
 #   - Sourcing Guide: milo/bom/sourcing_guide.md
 #   - Printing Guide: milo/printing/print_guide.md
 #   - Frequently Asked Questions: milo/faq.md
 #   - Assembly Manual:
 #       - Acknowledgements: milo/manual/chapters/10_acknowledgements.md
 #       - Introduction: milo/manual/chapters/20_introduction.md
    #    - Hardware Reference: milo/manual/chapters/30_hardware_reference.md
    #    - Y-Axis Assembly: milo/manual/chapters/40_y_axis_assembly.md
    #    - X-Axis Assembly: milo/manual/chapters/50_x_axis_assembly.md
    #    - Z-Axis Assembly: milo/manual/chapters/60_z_axis_assembly.md
    #    - FMJ Assembly: milo/manual/chapters/70_fmj_assembly.md
    #    - Table Assembly: milo/manual/chapters/80_table_assembly.md
    #    - Install RRF: milo/manual/chapters/90_install_rrf.md
    #    - Assemble Electronics: milo/manual/chapters/100_assemble_electronics.md
    #    - Pre-Flight Checks: milo/manual/chapters/110_pre_flight_checks.md

  - "Voron 3D Printers":
    - AWD Gantry with VZBOT Toolhead Printed Version:
       - AWD Gantry: voron_3d_printers/awd_gantry_vz_toolhead_printed_version/index.md
       - Sourcing Guide: voron_3d_printers/awd_gantry_vz_toolhead_printed_version/bom/awdvz_sourcing_guide.md
       - Printing Guide: voron_3d_printers/awd_gantry_vz_toolhead_printed_version/printing/awdvz_printing_guide.md
       - Preassembly Manual: voron_3d_printers/awd_gantry_vz_toolhead_printed_version/manual/awdvz_preassembly.md
       - Assembly Manual: voron_3d_printers/awd_gantry_vz_toolhead_printed_version/manual/awdvz_assembly_manual.md

    - AWD Gantry with VZBOT Toolhead CNC Version:
       - AWD Gantry: voron_3d_printers/awd_gantry_vz_toolhead_cnc_version/index.md
       - Sourcing Guide: voron_3d_printers/awd_gantry_vz_toolhead_cnc_version/bom/awdvz_cnc_sourcing_guide.md
       - Printing Guide: voron_3d_printers/awd_gantry_vz_toolhead_cnc_version/printing/awdvz_cnc_printing_guide.md
       - Preassembly Manual: voron_3d_printers/awd_gantry_vz_toolhead_cnc_version/manual/awdvz_cnc_preassembly.md
       - Assembly Manual: voron_3d_printers/awd_gantry_vz_toolhead_cnc_version/manual/awdvz_cnc_assembly_manual.md

    - Tool-free Z-Axis Tensioner for Voron 2.4:
        - Z-Axis Tensioner: voron_3d_printers/z_axis_tensioner_voron24/index.md
        - Sourcing Guide: voron_3d_printers/z_axis_tensioner_voron24/bom/sourcing_guide.md
        - Printing Guide: voron_3d_printers/z_axis_tensioner_voron24/printing/printing_guide.md
        - Preassembly Manual: voron_3d_printers/z_axis_tensioner_voron24/manual/preassembly.md
        - Assembly Manual: voron_3d_printers/z_axis_tensioner_voron24/manual/assembly_manual.md
        - Open Source: voron_3d_printers/z_axis_tensioner_voron24/open source/open_source.md

  #- "VZBOT 3D Printers":
  #  - Sourcing Guide: casa/bom/sourcing_guide.md
  #  - Printing Guide: casa/bom/printing_guide.md
    #- Frequently Asked Questions: casa/faq.md
    # - Assembly Manual:
    #   - Introduction: casa/manual/chapters/10_introduction.md

  #- "RatRig vCore 3D Printers":
   # - Sourcing Guide: casa/bom/sourcing_guide.md
   # - Printing Guide: casa/bom/printing_guide.md
    #- Frequently Asked Questions: casa/faq.md
    # - Assembly Manual:
    #   - Introduction: casa/manual/chapters/10_introduction.md


  - "How Your Support Helps":
    - Supporting Innovation: how_your_support_helps/supporting_innovation.md

  - "Milo CNC MODs":
    - Dust Cover: 
       - Dust Cover: milo_cnc/dust_cover/index.md
       - Sourcing Guide: milo_cnc/dust_cover/bom/dust_cover_sourcing_guide.md
       - Printing Guide: milo_cnc/dust_cover/printing/dust_cover_printing_guide.md
       - Preassembly Manual: voron_3d_printers/awd_gantry_vz_toolhead_printed_version/manual/awdvz_preassembly.md
       - Assembly Manual: voron_3d_printers/awd_gantry_vz_toolhead_printed_version/manual/awdvz_assembly_manual.md

 
   
extra_css:
  - stylesheets/layout.css

theme:
  name: material
  font:
    text: Roboto
  logo: assets/logo.png
  icon:
    logo: fontawesome/solid/industry
    annotation: material/wrench-outline
  favicon: assets/logo_small.png
  
  features:
    - navigation.sections
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.tracking
    - navigation.path
    - navigation.indexes
    - toc.follow
    - toc.integrate
    - navigation.top
    - content.code.copy
    - navigation.footer
    - tabs
    - instant
    - search.suggest
    - search.highlight
  language: en
  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
       icon: material/toggle-switch-off-outline
       name: Switch to dark mode
      primary: black
      accent: red
     # Palette toggle for dark mode
    - scheme: slate
      toggle:
       icon: material/toggle-switch
       name: Switch to light mode
      primary: red
      accent: black

extra:
  social:
    - icon: fontawesome/brands/discord
      link: https://discord.gg/3JxrSnGgsF
    - icon: fontawesome/brands/github
      link: https://github.com/mammoth-3D
  generator: false


markdown_extensions:

  # Python Markdown
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true

  # Python Markdown Extensions
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  
  - pymdownx.superfences 
copyright: Copyright &copy; 2023 - 2026 mammoth-3D

extra_javascript:
  - javascripts/belt_calculator.js

extra_css:
  - assets/belt_calculator.css