<!-- Start Footer Area -->
<footer class="footer-area bg-color3">
    <div class="footer-wrapper section-spacing bminus-30">
        <div class="container">
        </div>
    </div>
    <div class="footer-wrapper">
        <div class="container">
            <div class="footer-copyright text-center">
                <p> &copy; Copyright {{ site.time | date: '%Y' }} {{site.title}}</a></p>
                
            </div>
        </div>
    </div>
    <a href="#" class="home-top"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
</footer>
<!-- End Footer Area -->